@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    font-family: 'Roboto';
}

header{
    padding: 32px 0;
    color: black;
}
.links-header{
    margin-left:310px;
    max-width:353px;
    display: grid;
    grid-template-columns:1fr 1fr; 
}
.foodify-link{
    max-width: 219px;
}
.links{
    margin-left: 122px;
    display: grid;
    grid-template-columns:1fr 1fr;
    
}
.links-header a{
    text-decoration: none;
    color: black;
    margin: 5px 10px;
    font-size: 16px;
}
.links-header a:hover{
    color: #D54F44;
    transition: 500ms;
}
.card-presentation{
    background: #FBDFDB;
    width: 940px;
    height: 366px;
    border-radius: 30px;
    margin: 0 0 80px 320px;
    display: grid;
    grid-template-columns: 1fr 1fr
    
}
.chef-logo img{
    max-height: 300px;
    max-width: 216px;
    margin: 65px 100px 0px 155px;
    align-items: right;
}
.card-presentation p{
    margin: 10px 0 0 60px;
    line-height: 28px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    width: 316px;
    height: 84px;
}
.card-presentation h1{
    margin: 117px 0 0 60px;
    font-weight: bold;
    font-size: 32px;
    color: #111111;
    width: 305px;
    height: 38px;
    
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
    max-height: 366px;
    margin: 0 320px;
}
.card img{
    width: 300px;
    height: 140px;
    border-radius: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.card h1{
font-size: 18px;
font-weight: 500;
margin: 5px 0;
cursor: pointer;
}

.card p{
    font-weight: 300;
    font-size: 14px;
    margin: 5px 0 30px 0;
    cursor: pointer;
}

.cards-initial h1{
    margin: 0 0 25px 320px;
    font-size: 25px;
}

.wrapper{
    height: 62px;
    background: #EEEEEE;
        
}

.wrapper p{
    text-align: center;
    max-width: 310px;
    margin: 100px 0 0 320px;
    padding: 23px 0 0 315px;
    font-size: 14px;
    color: #999999;
    
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 660px;
    height: 413px;
    margin: 20vh auto;
    position: relative;
    border-radius: 16px;
}
.modal .close-modal{
    color: black;
    position: absolute;
    bottom: 30px;
    left: 315px;
    cursor: pointer;
}
/* === MODAL.ACTIVE === */

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modal-content{
    text-align: center;
}
.modal-content img{
    width: 600px;
    height: 200px;
    margin: 30px 30px 20px 30px;
    border-radius: 15px;
}
.modal-content h1{
    font-size: 24px;
    font-weight: normal;
    color: #111111;
}
.modal-content p{
    font-size: 18px;
    font-weight: normal;
    color: #777777;
}