@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    font-family: 'Roboto';

}

header{
    padding: 32px 0;
    color: black;
}

.links-header{
    margin-left:310px;
    max-width:353px;
    display: grid;
    grid-template-columns:1fr 1fr; 
}
.foodify-link{
    max-width: 219px;
}
.links{
    margin-left: 122px;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.about{
    padding-top: 5px;
}
.about a{
    font-weight: bold;
    
}
.links-header a{
    text-decoration: none;
    color: black;
    margin: 5px 10px;
    font-size: 16px;
}
.links-header a:hover{
    color: #D54F44;
    transition: 500ms;
}

.title-about{
    margin: 0 0 0 320px;
    height: 280px;
    width: 940px;
    padding-top: 20px;
}

.title-about h1{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 15px;
}

.title-about p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding: 10px 0;
}

.start-of-foodify{
    margin: 0 0 0 320px;
    height: 280px;
    width: 940px;
    
}

.start-of-foodify h1{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin: 65px 0 13px;
}

.start-of-foodify p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding: 10px 0;
    
}

.about-recipes{
    margin: 0 0 0 320px;
    height: 112px;
    width: 940px;
}

.about-recipes h1{
    font-size: 24px;
    color: #111111;
    font-weight: bold;
    margin: 65px 0 13px;
}

.about-recipes p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding: 10px 0;
}

.wrapper{
    height: 62px;
    background: #EEEEEE;
        
}

.wrapper p{
    text-align: center;
    max-width: 310px;
    margin: 100px 0 0 320px;
    padding: 23px 0 0 315px;
    font-size: 14px;
    color: #999999;
    
}